<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/semantic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/go.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/protein.css') }}">
    <title>Pronto</title>
</head>
<body>

{% include 'header.html' %}

<div class="ui container">
    <div class="ui basic segment">
        <h1 class="ui header">GO terms</h1>

        {% include 'signatures/selector.html' %}

        <div class="ui form">
            <div class="inline fields">
                <label>Aspects</label>
                <div class="field">
                    <div class="ui checkbox">
                        <input name="aspect" value="biological_process" type="checkbox">
                        <label>Biological Process</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input name="aspect" value="molecular_function" type="checkbox">
                        <label>Molecular Function</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input name="aspect" value="cellular_component" type="checkbox">
                        <label>Cellular Component</label>
                    </div>
                </div>
            </div>
        </div>
        <table id="results" class="ui definition celled table"></table>
    </div>
</div>

<div id="chart-modal" class="ui modal">
    <i class="close icon"></i>
    <div class="image content">
    </div>
</div>

<div id="references-modal" class="ui modal">
    <i class="close icon"></i>
    <div class="ui header"></div>
    <div class="scrolling content">
        <ul class="ui list"></ul>
    </div>
    <div class="actions">
        <a target="_blank" href="" class="ui basic button">
            <i class="external icon"></i>
            QuickGO
        </a>
    </div>
</div>

<div id="signature-modal" class="ui modal">
    <i class="close icon"></i>
    <div class="ui header"></div>
    <div class="scrolling content">
        <ul class="ui list"></ul>
    </div>
    <div class="actions">
        <a target="_blank" href="" class="ui basic button">
            <i class="external icon"></i>
            QuickGO
        </a>
    </div>
</div>

<script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/semantic.js') }}"></script>
<script src="{{ url_for('static', filename='js/signatures/go.js') }}" type="module"></script>
</body>
</html>
