<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/semantic.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <style>
        thead th:nth-child(1) {
            width: 33%;
        }

        .literature-match {
            font-weight: bold;
        }

        .literature-context-sentence {
            opacity: 0.4;
        }

        .literature-match-phrase {
            font-weight: bold;
            background-color: #FFF000;
        }

        .ui.popup {
            max-width: 50%;
        }
    </style>
</head>
<body>

{% include 'header.html' %}

<div class="ui container basic vertical segment">
    {% include 'signatures/signature_selector.html' %}

    <div class="ui form">
        <div class="three fields">
            <div class="field">
                <label for="classifier">Classifier</label>
                <div class="inline fields">
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input name="classifier" value="function" type="radio">
                            <label>Function</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input name="classifier" value="structure" type="radio">
                            <label>Structure</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input name="classifier" value="genomic" type="radio">
                            <label>Genomic</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label for="entity-count">Entities</label>
                <div class="inline fields">
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input name="entity-count" value="20" type="radio">
                            <label>20</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input name="entity-count" value="40" type="radio">
                            <label>40</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input name="entity-count" value="80" type="radio">
                            <label>80</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input name="entity-count" value="160" type="radio">
                            <label>160</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input name="entity-count" value="320" type="radio">
                            <label>320</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Filtered terms</label>
                <div id="entity-filters"></div>
            </div>
        </div>
    </div>

    <table class="ui definition celled table"></table>
</div>

{% include 'footer.html' %}

<script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/semantic.min.js') }}"></script>
<script src="{{ url_for('static', filename='modules/signatures/literature.js') }}" type="module"></script>

</body>
</html>