<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/vendor/semantic.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.png">
</head>
<body>

{% include 'header.html' %}

<div class="ui container basic vertical segment">
    {% include 'signatures/signature_selector.html' %}

    <div class="ui info icon message">
        <i class="info circle icon"></i>
        <div class="content">
            <ul class="list">
                <li>Reviewed proteins are identified by a star (<i class="fitted star icon"></i>).</li>
                <li>Candidate signatures are identified by a checked box (<i class="fitted checkmark box icon"></i>).</li>
                <li>Hover the pointer over a match to display its start/end locations.</li>
            </ul>
        </div>
    </div>

    <div class="ui horizontal statistic">
        <div class="value"></div>
        <div class="label">
            groups
        </div>
    </div>

    <div class="ui form">
        <div class="inline fields">
            <label>Source</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="dbcode" value="S" type="radio" checked>
                    <label>Swiss-Prot</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="dbcode" value="T" type="radio">
                    <label>TrEMBL</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="dbcode" value="U" type="radio">
                    <label>Any</label>
                </div>
            </div>
        </div>
    </div>

    <div class="ui segments"></div>

    <div class="ui right floated pagination menu"></div>
</div>

{% include 'footer.html' %}

<script src="/static/vendor/jquery.min.js"></script>
<script src="/static/vendor/semantic.min.js"></script>
<script src="/static/modules/signatures/proteins.js" type="module"></script>

</body>
</html>