<div id="signature-selector">
    <div class="ui segment">
        <h4>Signatures</h4>
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui fluid input">
                    <input placeholder="Add signatures&hellip;" type="text">
                </div>
            </div>

            <div class="twelve wide column"></div>
        </div>
    </div>

    <div class="ui secondary pointing menu links">
        <a target="_blank" data-name="proteins" data-link="proteins" class="item">Proteins</a>
        <a target="_blank" data-name="taxonomy" data-link="taxonomy/superkingdom" class="item">Taxonomic origins</a>
        <a target="_blank" data-name="descriptions" data-link="descriptions" class="item">UniProt descriptions</a>
        <a target="_blank" data-name="comments" data-link="comments" class="item">Similarity comments</a>
        <a target="_blank" data-name="go" data-link="go" class="item">GO terms</a>
        <a target="_blank" data-name="matrices" data-link="matrices" class="item">Matrices</a>
    </div>
</div>