<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ config.PREFIX + url_for('static', filename='vendor/semantic.min.css') }}" />
    <link rel="stylesheet" href="{{ config.PREFIX + url_for('static', filename='style.css') }}" />
    <link rel="icon" href="{{ config.PREFIX + url_for('static', filename='favicon.png') }}">
</head>
<body>

{% include 'header.html' %}

<div class="ui container basic vertical segment">
    {% include 'signatures/signature_selector.html' %}
    <table class="ui definition celled table"></table>
</div>

{% include 'footer.html' %}

<script src="{{ config.PREFIX + url_for('static', filename='vendor/jquery.min.js') }}" type="application/javascript"></script>
<script src="{{ config.PREFIX + url_for('static', filename='vendor/semantic.min.js') }}" type="application/javascript"></script>
<script src="{{ config.PREFIX + url_for('static', filename='modules/signatures/similarity.js') }}" type="module"></script>

</body>
</html>