<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/taxonomy.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/protein.css') }}">
    <title>Pronto</title>
</head>
<body>

{% include 'header.html' %}

<div class="ui container">
    <div class="ui basic segment">
        <h1 class="ui header">Taxonomic origins</h1>

        {% include 'signatures/selector.html' %}

        <div class="ui info message">
            <p>
                Click the expand button (<i class="caret right fitted icon"></i>) to display a taxon's direct children.<br>
                Click the filter button (<i class="filter fitted icon"></i>) to select the taxon as root: only its descendants will be shown for lower taxonomic ranks.
            </p>
        </div>

        <div class="ui top attached tabular menu">
            <a class="item" data-rank="superkingdom">Superkingdom</a>
            <a class="item" data-rank="kingdom">Kingdom</a>
            <a class="item" data-rank="phylum">Phylum</a>
            <a class="item" data-rank="class">Class</a>
            <a class="item" data-rank="order">Order</a>
            <a class="item" data-rank="family">Family</a>
            <a class="item" data-rank="genus">Genus</a>
            <a class="item" data-rank="species">Species</a>
        </div>
        <div class="ui bottom attached active tab segment">
            <table id="results" class="ui definition celled table"></table>
        </div>
    </div>

    <div class="ui basic segment">

    </div>
</div>

<script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/semantic.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/signatures/taxonomy.js') }}" type="module"></script>
</body>
</html>