@media screen and (min-width: 1384px){
    .ui.container {
        max-width: 1344px;
        width: 1344px;
    }
}

body > .ui.menu {
    box-shadow: none;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, .ui.header {
    font-weight: 400;
}

p.hidden {
    display: none;
}

#dimmer {
    /* default z-index set to 1000: lesser than modal's so dimmer is sent to background when opening a modal */
    z-index: 5000;
}

#dimmer > .icon {
    z-index: 1000;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: rgba(255,255,255,.9);
    font-size: 1.5rem;
    cursor: pointer;
}

/* Hidden sidebar for (methods and prediction) */
.ui.hidden.sticky {
    display: none;
}

/* Sidebar */
body.pushable {
    background: none !important;
}
.ui.sidebar {
    padding: 0 1rem;
}

/* Circular labels in table */
td > .ui.label, .item > .content > .label, .item > .content > .header > .label {
    margin: 0 .25rem 0 0 !important;
}
.ui.label.type-R {
    background-color: #f2711c;
    border-color: #f2711c;
    color: #fff;
}
.ui.label.type-H {
    background-color: #1678c2;
    border-color: #1678c2;
    color: #fff;
}
.ui.label.type-D {
    background-color: #21ba45;
    border-color: #21ba45;
    color: #fff;
}
.ui.label.type-F {
    background-color: #db2828;
    border-color: #db2828;
    color: #fff;
}
.ui.label.type-C, .ui.label.type-B, .ui.label.type-A, .ui.label.type-P {
    background-color: #a333c8;
    border-color: #a333c8;
    color: #fff;
}

/* Header icon */
h1.ui.header > .sub.header i.icon {
    display: inline;
    font-size: .75em;
}

/* Entry types (entry page) */
.ui.segment.type-R:not(.inverted) {
    border-top: 2px solid #f2711c;
}
.ui.segment.type-H:not(.inverted) {
    border-top: 2px solid #1678c2;
}
.ui.segment.type-D:not(.inverted) {
    border-top: 2px solid #21ba45;
}
.ui.segment.type-F:not(.inverted) {
    border-top: 2px solid #db2828;
}
.ui.segment.type-C:not(.inverted), .ui.segment.type-B:not(.inverted), .ui.segment.type-A:not(.inverted), .ui.segment.type-P:not(.inverted) {
    border-top: 2px solid #a333c8;
}

/* Descriptions (entry page) */
.item > abbr[title] {
    border-bottom: none;
    text-decoration: none;
    -webkit-text-decoration: none;
    text-decoration: none;
}

/* Statistics */
.ui.statistics .statistic > .value {
    text-transform: none;
}
.ui.statistics .statistic.light > .label {
    font-weight: 400;
    font-size: .8em;
}
.ui.statistics .statistic.light > .value {
    font-weight: 300;
}
.ui.statistics .statistic > a.value {
    color: #4183c4;
}
.ui.statistics .statistic > a.value:hover {
    color: #1e70bf;
}
.ui.four.statistics .statistic {
    /* on protein page, to break the words of too long organism names */
    max-width: 25%;
}

/* Description lists */
dt {
    color: rgba(0, 0, 0, .87);
    font-weight: bold;
    line-height: 1.5em;
}
dd {
    line-height: 1.5em;
    margin-left: 2em;
}
dl > dd + dt {
    margin-top: 1em;
}
dd .ui.link.list > a.item, dd .ui.link.list > a.item > i.icon {
    color: #4183c4;
}
dd .ui.link.list > a.item:hover, dd .ui.link.list > a.item:hover > i.icon {
    color: #1e70bf;
}
dl i.right-floated {
    float: right;
}
dl i.right-floated:hover {
    cursor: pointer;
}
dl .ui.label {
    padding: .5em;
}

/* Override Semantic UI behaviour */
.ui.comments {
    max-width: none;
}

/* Keep icon and title on the same line */
.ui.comments .ui.header > .icon {
    display: inline-block;
    padding: 0;
    margin-right: .75rem;
}

/* Comments and comment actions */
.ui.comments .comment .metadata a {
    cursor: pointer;
    display: inline-block;
    color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
.ui.comments .comment .metadata a i {
    margin: 0;
}
.ui.comments .comment .metadata a:active, .ui.comments .comment .metadata a:hover {
    color: rgba(0,0,0,.8);
}
.ui.comments .comment > .content:hover > .metadata a {
    opacity: 1;
}
.ui.comments .negative.comment .content {
    background: #ffe1e1;
}
.ui.comments .negative.comment .content .actions {
    background-color: #fff;
}
.ui.comments .actions a {
    font-size: .875em;
    cursor: pointer;
    color: rgba(0,0,0,.4);
}
.ui.comments .actions a:active, .ui.comments .actions a:hover {
    color: rgba(0,0,0,.8);
}

/* Do not inline references links (DOI, PubMED) */
li > .ui.horizontal.list {
    display: block;
}

/* Highlight list element (entry reference) */
li.active {
    background-color: #e8f5e9;
}

li > .header {
    display: block;
    font-weight: bold;
}

li > .item {
    display: block;
}

/* References links color */
.ui.link.list .item, .ui.link.list .item a:not(.ui), .ui.link.list a.item {
    color: rgba(0,0,0,.6);
}
.ui.link.list .item a:not(.ui):hover, .ui.link.list a.item:hover {
    color: rgba(0,0,0,.8);
}

/* Button to delete GO term association */
dl dd a[data-go-id] {
    cursor: pointer;
    color: rgba(0,0,0,.4);
    opacity: 0;
}
dl dd:hover a[data-go-id] {
    opacity: 1;
}
dl dd a[data-go-id]:hover {
    color: rgba(0,0,0,.8);
}

.italic {
    font-style: italic;
}

/* SVG elements (protein page) */
svg g.ticks line {
    stroke-dasharray: 2, 2;
    stroke-width: 0.5px;
    stroke: #000;
}
svg g.ticks text {
    dominant-baseline: hanging;
    text-anchor: middle;
    font-size: 10px;
}
svg g.match rect, svg g.match path {
    opacity: .5;
}
svg g.match:hover rect, svg g.match:hover path {
    opacity: 1;
}
svg g.match rect:hover {
    cursor: pointer;
}
svg text.label {
    dominant-baseline: central;
    font-size: 14px;
}
svg text.label, svg text.label a {
    fill: #4a4a4a;
}
svg text.label:hover a {
    fill: #1a1a1a;
}

/* SVG elements (matches page) */
svg g text.position {
    font-size: 10px;
    fill: #555555;
    fill-opacity: 0;
    text-anchor: start;
}
svg g text.position:first-of-type {
    text-anchor: end;
}
svg g:hover text.position {
    fill-opacity: 1;
}
svg text.length {
    fill: #888;
    fill-opacity: 0.5;
    font-size: 10px;
    dominant-baseline: central;
    text-anchor: start;
}

/* Matches tooltip */
.ui.tooltip {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
    padding: .7em;
    width: 275px;
    position: absolute;
    z-index: 9999;
    display: none;
}
.ui.tooltip .header {
    font-size: 1.25em;
}
.ui.tooltip .meta {
    font-size: .8em;
    color: rgba(0,0,0,.5);
    line-height: 1;
}
.ui.tooltip .description {
    margin-top: .5rem;
    font-size: 1em;
    color: rgba(0,0,0,.7);
}
.ui.tooltip > .close.icon {
    cursor: pointer;
    position: absolute;
    margin: 0;
    top: .5em;
    right: .5em;
    opacity: .7;
}
.ui.tooltip > .close.icon:hover {
    opacity: 1;
}

/* Prevent line break in tables */
td.nowrap, th.nowrap { white-space: nowrap; }

/* Range element on Signature prediction page */
input[type="range"] {
    display: block;
    width: 50%;
}

/* Add a bottom margin on floating pagination */
.segment > .pagination.menu:last-child {
    margin-bottom: 1em;
}

/* Text color, when background is colored */
.light, .light > a {
    color: rgba(255, 255, 255, 0.75);
}
.light > a:hover {
    color: rgba(255, 255, 255, 1);
}
.dark, .dark > a {
    color: rgba(0, 0, 0, 0.75);
}
.dark > a:hover {
    color: rgba(0, 0, 0, 1);
}

/* Push tab contents */
#methods {
    margin-bottom: 1rem;
}

/* Toggle checkbox styling (taken from SemanticUI 2.3) */
.ui.toggle.checkbox input:checked ~ .box::after, .ui.toggle.checkbox input:checked ~ label::after {
    left: 2.15rem;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15), 0 0 0 1px rgba(34, 36, 38, .15) inset;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15), 0 0 0 1px rgba(34, 36, 38, .15) inset;
}

/* Reduce padding for buttons in table header to make font larger */
thead .ui.compact.icon.button {
    padding: .2em;
    font-size: 1.5em;
}

/* Color GO labels */
.ui.label.aspect-P {
    background-color: #B388FF;
    border-color: #B388FF;
    color: #fff;
}
.ui.label.aspect-F {
    background-color: #CDDC39;
    border-color: #CDDC39;
    color: #fff;
}
.ui.label.aspect-C {
    background-color: #FF9E80;
    border-color: #FF9E80;
    color: #fff;
}

/* Comment textarea */
.ui.comments .reply.form textarea[rows] {
    height: inherit;
}

/*
    Add same style than for .ui.label > .delete.icon
    (Literature page)
*/
.ui.label > .filter.icon {
    cursor: pointer;
    margin-right: 0;
    margin-left: .5em;
    font-size: .92857143em;
    opacity: .5;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
}

i.button.icon {
    cursor: pointer;
    color: rgba(0,0,0,.4);
}
i.button.icon:hover {
    color: rgba(0,0,0,.8);
}

/* Hidden actions in modal */
.modal .actions.hidden {
    display: none;
}

/* Selectable item (they are not by defaut) */
.ui.menu .selectable.item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.ui.feed > .event > .content > .date {
    font-size: .85714286em;
    line-height: normal;
}

.ui.feed > .event:nth-child(n+2) {
    margin-top: 1rem;
}

.ui.modal .content.justified {
    text-align: justify;
}