@media screen and (min-width: 1384px){
    .ui.container {
        max-width: 1344px;
        width: 1344px;
    }
}

body > .ui.menu {
    box-shadow: none;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, .ui.header {
    font-weight: 400;
}

.ui.dimmer {
    /* default z-index set to 1000: lesser than modal's so dimmer is sent to background when opening a modal */
    z-index: 5000;
}

.ui.dimmer > .icon {
    z-index: 1000;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: rgba(255,255,255,.9);
    font-size: 1.5rem;
    cursor: pointer;
}

/* Hidden sidebar for (methods and prediction) */
.ui.hidden.sticky {
    display: none;
}

/* Feed */
.ui.feed > .event > .content .summary { font-weight: normal; }
.ui.feed > .event:nth-child(n+2) { margin-top: .5rem; }
.ui.feed abbr { text-decoration: none; }
.ui.feed abbr:hover { cursor: pointer; }
.ui.feed a.type-R {border-bottom: 2px solid #f2711c;}
.ui.feed a.type-H {border-bottom: 2px solid #1678c2;}
.ui.feed a.type-D {border-bottom: 2px solid #21ba45;}
.ui.feed a.type-F {border-bottom: 2px solid #db2828;}
.ui.feed a.type-C, .ui.feed a.type-B, .ui.feed a.type-A, .ui.feed a.type-P {border-bottom: 2px solid #a333c8;}

/* Circular labels in table */
td > .ui.list > .item > .label {
    display: table-cell;
    margin: 0;
    padding-top: 0;
    padding-right: .28571429em;
    vertical-align: top;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}
td > .ui.list > .item > .label + .content {
    display: table-cell;
    padding: 0 0 0 .5em;
    vertical-align: top;
}
.ui.label.type-R {
    background-color: #f2711c;
    border-color: #f2711c;
    color: #fff;
}
.ui.label.type-H {
    background-color: #1678c2;
    border-color: #1678c2;
    color: #fff;
}
.ui.label.type-D {
    background-color: #21ba45;
    border-color: #21ba45;
    color: #fff;
}
.ui.label.type-F {
    background-color: #db2828;
    border-color: #db2828;
    color: #fff;
}
.ui.label.type-C, .ui.label.type-B, .ui.label.type-A, .ui.label.type-P {
    background-color: #a333c8;
    border-color: #a333c8;
    color: #fff;
}