<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/semantic.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Pronto</title>
</head>
<body>

{% include 'header.html' %}

<div class="ui container basic vertical segment">
    <h1 class="ui header"></h1>

    <div class="ui form">
        <div class="grouped fields">
            <label>Predictions:</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="filter" value="integrated" type="radio">
                    <label>Similar to an integrated signature</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="filter" value="unintegrated" type="radio">
                    <label>Similar to an unintegrated signature</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="filter" value="norelation" type="radio">
                    <label>Not similar to any signature</label>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" name="allpredictions">
                <label>Extend to other types of predictions (related, parent, child)</label>
            </div>
        </div>
    </div>

    <table id="table-signatures" class="ui very compact celled structured table">
        <thead>
        <tr>
            <th colspan="5">
                <div class="ui secondary menu">
                    <span class="item"></span>
                    <div class="right menu">
                        <div class="item">
                            <div class="ui icon input">
                                <input placeholder="Search&hellip;" type="text">
                                <i class="search link icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th>Signature</th>
            <th>Similar to</th>
            <th>Related to</th>
            <th>Parent of</th>
            <th>Child of</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="5">
                <div class="ui right floated pagination menu"></div>
            </th>
        </tr>
        </tfoot>
    </table>
</div>

{% include 'footer.html' %}

<script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/semantic.min.js') }}"></script>
<script src="{{ url_for('static', filename='modules/database_unintegrated.js') }}" type="module"></script>
</body>
</html>