<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/semantic.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Pronto</title>
        <style>
            .ui.form>.inline.fields {
                margin-bottom: .5em;
            }
            .ui.form>.inline.fields>label {
                min-width: 200px;
            }
            .capitalize {
                text-transform: capitalize;
            }
            td.disabled {
                /* Same as header */
                background-color: #F9FAFB;
            }
            th[data-sort-by] {
                cursor: pointer !important;
            }
        </style>
    </head>

    <body>
        {% include 'header.html' %}

        <div class="ui container">
            <div class="ui basic segment">
                <h1 class="ui header"></h1>
                <div class="ui form">
                    <div class="inline fields">
                        <label>Predicted relationships</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input id="no-integrated-relationship" class="hidden" type="radio" name="relationships" value="without-integrated" checked="checked">
                                <label for="no-integrated-relationship">Without integrated signatures</label>
                            </div>
                        </div>                        
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input id="no-relationship" class="hidden" type="radio" name="relationships" value="without">
                                <label for="no-relationship">Without</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input id="with-relationship" class="hidden" type="radio" name="relationships" value="with">
                                <label for="with-relationship">With</label>
                            </div>
                        </div>
                    </div>
                    <div class="inline fields">
                        <label>Single-domain proteins</label>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="min-sl-dom-ratio" value="90">
                                <label>Display signatures with a high ratio of single-domain proteins (&ge; 90%) only</label>
                            </div>
                        </div>
                    </div>
                    <div class="inline fields">
                        <label>Commented</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input id="commented-any" class="hidden" type="radio" name="commented" value="" checked="checked">
                                <label for="commented-any">Any</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input id="commented-yes" class="hidden" type="radio" name="commented" value="1">
                                <label for="commented-yes">Yes</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input id="commented-no" class="hidden" type="radio" name="commented" value="0">
                                <label for="commented-no">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="inline fields">
                        <label>Description</label>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="with-abstract" value="abs-filter">
                                <label>Display signatures with description only</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui grid">
                    <div class="thirteen wide column">
                        <div class="ui warning message">
                            <i class="close icon"></i>
                            <div class="header">Checkboxes are read-only</div>
                            <p>To check or uncheck an entry, please visit the entry page.</p>
                        </div>
                        <table id="results" class="ui very compact celled structured table">
                            <thead>
                                <tr>
                                    <th colspan="3" class="center aligned"></th>
                                    <th colspan="6" class="center aligned">Targets</th>
                                    <th rowspan="2" colspan="2" class="center aligned">Entry</th>
                                </tr>
                                <tr>
                                    <th class="nowrap collapsing" data-sort-by="accession" data-sort-order="">
                                        Accession
                                        <i class="button icon sort"></i>
                                    </th>
                                    <th class="nowrap collapsing" data-sort-by="proteins" data-sort-order="">
                                        Proteins
                                        <i class="button icon sort"></i>
                                    </th>
                                    <th class="nowrap collapsing" data-sort-by="single-domain-proteins" data-sort-order="">
                                        Single-dom. proteins
                                        <i class="button icon sort"></i>
                                    </th>
                                    <th>Accession</th>
                                    <th>Proteins</th>
                                    <th>Collocations</th>
                                    <th>Overlaps</th>
                                    <th colspan="2">Prediction</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="11">
                                        <div class="ui right floated pagination menu"></div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="three wide column">
                        <div class="ui hidden sticky">

                            <div class="ui vertical segment comments">
                                <h3 class="ui dividing header">
                                    <i class="comments icon"></i>Comments
                                    <div class="sub header"></div>
                                </h3>
                                <div class="comments-content"></div>
                                <form class="ui reply form">
                                    <div class="field">
                                        <textarea placeholder="Write comment&hellip;"></textarea>
                                    </div>
                                    <button class="ui blue labeled icon button"><i class="icon edit"></i> Add comment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/semantic.js') }}"></script>
        <script src="{{ url_for('static', filename='js/database/unintegrated.js') }}" type="module"></script>
    </body>

</html>