.ui.button[data-type] {
    margin-bottom: .75rem;
}

.card > .content > .description {
    margin-top: .5em;
}
.card > .content > .meta > .icon:hover {
    color: rgba(0, 0, 0, 0.87);
}

code:hover {
    cursor: pointer;
}

.ui.basic.small.label {
    margin-bottom: .15rem;
    font-weight: normal;
}
.ui.label > .detail {
    vertical-align: inherit;
}

/*
Fomantic uses '.ui.form.error .error.message:not(:empty)'
and I am too lazy to add the error class to the form as well
*/
.ui.form .error.message:not(:empty) {
    display: block;
}

.ui.form .hidden.field {
    display: none;
}

.ui.sticky > .menu {

}

.ui.sticky > .ui.secondary.vertical.pointing.menu > .item {
    color: rgba(0,0,0,.5);
    font-size: .9em;
    margin: 0;
    padding: .5em 0;
}

.ui.sticky > .ui.secondary.vertical.pointing.menu > .item.active {
    color: rgba(0,0,0,.95);
    font-weight: bold;
}
