.ui.label.biological_process {
    background-color: #B388FF;
    border-color: #B388FF;
    color: #fff;
}
.ui.label.molecular_function {
    background-color: #CDDC39;
    border-color: #CDDC39;
    color: #fff;
}
.ui.label.cellular_component {
    background-color: #FF9E80;
    border-color: #FF9E80;
    color: #fff;
}
.ui.table>thead>tr>th.normal {
    border-left: 1px solid rgba(34, 36, 38, 0.1) !important;
    background: #F9FAFB !important;
    color: rgba(0, 0, 0, 0.87) !important;
    font-weight: bold !important;
}