header > .ui.menu {
    border-radius: 0;
    margin: 0;
}

header > .ui.menu:last-child {
    margin-bottom: 1rem;
}

.ui.ui.inverted.embl.green.menu {
    /*background-color: #18974C;*/
    background-color: #73b360;
}

.ui.embl.inverted.menu .item {
    color: #fff;
}

.ui.ui.inverted.embl.green.menu .dropdown .menu > .item > a {
    color: #4183c4;
}

header > .ui.menu .item > .ui.label:only-child {
    margin-left: 0;
}

#not-ready:not(.ui.menu) {
    display: none;
}

#not-ready.ui.menu .item {
    display: block;
    text-align: left;
    padding-left: 1rem !important;
}

#not-ready .header {
    display: block;
    font-size: 1.14285714em;
    font-weight: bold;
}

#not-ready .header + p {
    margin-top: .25em;
}