.light-text {
    color: rgba(0, 0, 0, 0.6);
}

.tab[data-tab="checks"] tbody tr td span[data-resolve] {
    cursor: pointer;
}

.tab[data-tab="checks"] tbody tr.inactive td {
    color: rgba(40, 40, 40, 0.3) !important;
}

.tab[data-tab="checks"] tbody tr.inactive td [data-resolve] {
    pointer-events: none;
    opacity: .3;
}

.tab[data-tab="checks"] tbody code:hover {
    cursor: pointer;
}

.very.compact.button {
    padding: .4rem .8rem;
    font-weight: normal;
}

.ui.segment[data-tab] {
    margin-top: 0;
}

.tab[data-tab="statistics"] > .hidden {
    display: none;
}

.tab[data-tab="statistics"] > .ui.button {
    margin-top: 5rem;
}

/* Force margin for headers in grid columns */
.ui.grid .column > h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin: calc(2rem - 0.1428571428571429em) 0 1rem;
}