.light-text {
    color: rgba(0, 0, 0, 0.6);
}

.tab[data-tab="checks"] tbody tr td span[data-resolve] {
    cursor: pointer;
}

.tab[data-tab="checks"] tbody tr.inactive td {
    color: rgba(40, 40, 40, 0.3) !important;
}

.tab[data-tab="checks"] tbody tr.inactive td [data-resolve] {
    pointer-events: none;
    opacity: .3;
}

.tab[data-tab="checks"] tbody code:hover {
    cursor: pointer;
}

.very.compact.button {
    padding: .4rem .8rem;
    font-weight: normal;
}

.ui.segment[data-tab] {
    margin-top: 0;
}