<div id="enzymes" class="ui basic compare hidden segment">
    <div class="ui form">
        <div class="inline fields">
            <label>Source</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="db" value="S" type="radio">
                    <label>Swiss-Prot</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="db" value="T" type="radio">
                    <label>TrEMBL</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="db" value="U" type="radio">
                    <label>Any</label>
                </div>
            </div>
        </div>
    </div>

    <table class="ui small compact definition celled table"></table>
</div>
