<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/semantic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checks.css') }}">
    <title>Sanity checks settings | Pronto</title>
</head>
<body>

{% include 'header.html' %}

<div class="ui container">
    <div class="ui basic segment">
        <h1 class="ui dividing header">Sanity check settings</h1>
        <div class="ui grid">
            <div class="three wide column">
                <div class="ui sticky">
                    <div class="ui fluid secondary vertical pointing menu">
                    </div>
                </div>
            </div>
            <div class="thirteen wide column">
            </div>
        </div>
    </div>
</div>

<div id="new-term-modal" class="ui tiny modal">
    <div class="header">Add term</div>
    <div class="content">
        <p>Please note that leading and trailing spaces are not trimmed.</p>

        <div class="ui form">
            <div class="ui error message"></div>
            <div class="field">
                <label>Term</label>
                <div class="ui fluid icon input">
                    <input type="text" placeholder="Term to check">
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui basic deny button">Cancel</div>
        <div class="ui primary approve button">Add</div>
    </div>
</div>

<div id="new-term-exception-modal" class="ui tiny modal">
    <div class="header"></div>
    <div class="content">
        <p>Please note that leading and trailing spaces are not trimmed.</p>

        <div class="ui form">
            <div class="ui error message"></div>
            <div class="field">
                <label>Entry or annotation</label>
                <div class="ui fluid icon input">
                    <input type="text" placeholder="Entry accession or annotation ID">
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui basic deny button">Cancel</div>
        <div class="ui primary approve button">Add</div>
    </div>
</div>

<div id="new-exception-modal" class="ui tiny modal">
    <div class="header">New exception</div>
    <div class="content">
        <p>Please note that leading and trailing spaces are not trimmed.</p>

        <div class="ui form">
            <div class="ui error message"></div>
            <div class="field">
                <label></label>
                <div class="ui fluid icon input">
                    <input type="text" placeholder="">
                </div>
            </div>
            <div class="field">
                <label></label>
                <div class="ui fluid icon input">
                    <input type="text" placeholder="">
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui basic deny button">Cancel</div>
        <div class="ui primary approve button">Add</div>
    </div>
</div>

<script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/semantic.js') }}"></script>
<script src="{{ url_for('static', filename='js/checks.js') }}" type="module"></script>
</body>
</html>