<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/vendor/semantic.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.png">
    <title>Pronto</title>
</head>
<body>

{% include 'header.html' %}

<div class="ui container basic vertical segment">
    <h1 class="ui header"></h1>

    <div class="ui form">
        <div class="grouped fields">
            <label>Predicted:</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="filter" value="exist" checked="checked" type="radio">
                    <label>Integrate with existing entry</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="filter" value="newint" type="radio">
                    <label>Integrate with unintegrated candidate signatures</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="filter" value="norel" type="radio">
                    <label>No relations</label>
                </div>
            </div>
        </div>
    </div>

    <table class="ui very compact celled structured table">
        <thead>
        <tr>
            <th colspan="4">
                <div class="ui secondary menu">
                    <span class="item"></span>
                    <div class="right menu">
                        <div class="item">
                            <div class="ui icon input">
                                <input placeholder="Search&hellip;" type="text">
                                <i class="search link icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th>Signature</th>
            <th>Add to</th>
            <th>Parent</th>
            <th>Children</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="4">
                <div class="ui right floated pagination menu"></div>
            </th>
        </tr>
        </tfoot>
    </table>
</div>

{% include 'footer.html' %}

<script src="/static/vendor/jquery.min.js"></script>
<script src="/static/vendor/semantic.min.js"></script>
<script src="/static/database2.js" type="module"></script>
</body>
</html>