<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/vendor/semantic.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.png">
    <title>Pronto</title>
    <style type="text/css">
        h2 + h3.ui.header {
            margin-top: 0;
        }
        h3.ui.header {
            margin: 1rem 0 .5rem;
        }
        .ui.list .list > .item > .content > .list, .ui.list > .item > .content > .list {
            padding-left: 1rem;
        }
    </style>
</head>
<body>

{% include 'header.html' %}

<div class="ui container basic vertical segment">
    <h1 class="ui header"></h1>
    <div id="segment-statistics" class="ui segment">
        <div class="ui five tiny statistics">
            <div class="light statistic">
                <div class="label">Type</div>
                <div data-statistic="type" class="value"></div>
            </div>
            <div class="light statistic">
                <div class="label">Last update</div>
                <div data-statistic="update" class="value"></div>
            </div>
            <div class="light statistic">
                <div class="label">Signatures</div>
                <a data-statistic="signatures" href="#signatures" class="value"></a>
            </div>
            <div class="light statistic">
                <div class="label">GO terms</div>
                <a data-statistic="go" href="#go-terms" class="value"></a>
            </div>
            <div class="light statistic">
                <div class="label">References</div>
                <a data-statistic="references" href="#references" class="value"></a>
            </div>
        </div>
    </div>

    <div class="ui grid">
        <div class="four wide column">
            <div class="ui sticky">
                <div class="ui vertical basic segment">
                    <div class="ui fluid vertical menu">
                        <a href="#curation" class="active item">
                            Curation
                        </a>
                        <a href="#description" class="item">
                            Description
                        </a>
                        <a href="#signatures" class="item">
                            Signatures
                            <div data-statistic="signatures" class="ui label"></div>
                        </a>
                        <a href="#relationships" class="item">
                            Relationships
                        </a>
                        <a href="#go-terms" class="item">
                            GO terms
                            <div data-statistic="go" class="ui label"></div>
                        </a>
                        <a href="#references" class="item">
                            References
                            <div data-statistic="references" class="ui label"></div>
                        </a>
                    </div>
                </div>
                <div class="ui vertical segment comments">
                    <h3 class="ui dividing header">
                        <i class="comments icon"></i>Comments
                    </h3>
                    <div class="comments-content"></div>
                    <form class="ui reply form">
                        <div class="field">
                            <textarea placeholder="Write comment&hellip;"></textarea>
                        </div>
                        <button class="ui blue labeled icon button"><i class="icon edit"></i>Add comment</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui basic vertical segment">
                <h2 id="curation" class="ui dividing header">Curation</h2>

                <h3 class="ui header">Public website</h3>
                <div class="ui horizontal bulleted link list">
                    <a target="_blank" data-public-href="https://www.ebi.ac.uk/interpro/entry/" class="item">
                        InterPro 6
                        <i class="external icon"></i>
                    </a>
                    <a target="_blank" data-public-href="http://www.ebi.ac.uk/interpro/beta/entry/InterPro/" class="item">
                        InterPro 7
                        <i class="external icon"></i>
                    </a>
                </div>

                <h3 class="ui header">Signatures comparison</h3>
                <div class="ui horizontal bulleted link list">
                    <a data-signatures-page="proteins" class="item">Overlapping proteins</a>
                    <a data-signatures-page="taxonomy" class="item">Taxonomic origins</a>
                    <a data-signatures-page="descriptions" class="item">UniProt descriptions</a>
                    <a data-signatures-page="similarity" class="item">Similarity comments</a>
                    <a data-signatures-page="go" class="item">GO terms</a>
                    <a data-signatures-page="matrices" class="item">Matrices</a>
                    <a data-signatures-page="enzyme" class="item">ENZYME</a>
                    <a data-signatures-page="literature" class="item">Literature</a>
                </div>

                <h2 id="description" class="ui dividing header">Description</h2>

                <h2 id="signatures" class="ui dividing header">Contributing signatures</h2>
                <table class="ui selectable table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Member database</th>
                        <th>Accession</th>
                        <th>Name</th>
                        <th class="right aligned">Protein count</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                    <tr>
                        <th colspan="6">
                            <div class="ui secondary menu">
                                <div class="right fitted item">
                                    <div class="ui action input">
                                        <input placeholder="Add signature" type="text">
                                        <button class="ui icon primary button"><i class="plus icon"></i></button>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>

                <h2 id="relationships" class="ui dividing header">InterPro relationships</h2>
                <div id="relationships-content"></div>

                <h2 id="go-terms" class="ui dividing header">GO terms</h2>
                <div id="add-terms" class="ui form">
                    <div class="field">
                        <label>Add GO term mapping</label>
                        <div class="ui action input">
                            <input placeholder="Type one or several GO terms" type="text">
                            <button class="ui primary button">Add</button>
                        </div>
                    </div>
                </div>

                <h3 class="ui header">Molecular Functions</h3>
                <div id="molecular-functions"></div>

                <h3 class="ui header">Biological Processes</h3>
                <div id="biological-processes"></div>

                <h3 class="ui header">Cellular Components</h3>
                <div id="cellular-components"></div>


                <h2 id="references" class="ui dividing header">References</h2>

                <h2 class="ui dividing header">Supplementary references</h2>
            </div>
        </div>
    </div>

</div>

{% include 'footer.html' %}

<script src="/static/vendor/jquery.min.js"></script>
<script src="/static/vendor/semantic.min.js"></script>
<script src="/static/modules/entry.js" type="module"></script>

</body>
</html>