<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/vendor/semantic.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.png">
    <title>Pronto</title>
    <style type="text/css">
        h2 + h3.ui.header {
            margin-top: 0;
        }
        h3.ui.header {
            margin: 1rem 0 .5rem;
        }
        .ui.list .list > .item > .content > .list, .ui.list > .item > .content > .list {
            margin-left: 0;
            padding-left: 1.5rem;
        }
        .annotation .ui.top.attached.menu { margin-top: 1rem; }
        .annotation .ui.form textarea { max-height: none; }
        .ui.hidden.menu { display: none; }
        .ui.modal .content > .ui.menu:last-child,
        .ui.modal .content > .ui.segment:last-child {
            margin-bottom: 1rem;
        }
        .ui.menu .item.positive.message { color: #2c662d; }
        .ui.menu .item.negative.message { color: #9f3a38; }
        #new-annotation textarea {
            width: 100%;
            resize: vertical;
            min-height: 150px;
            max-height: none;
            padding: .5rem;
        }
        #modal-entries {
            top: 0;
            margin-top: 5rem !important; /* overwrite Semantic UI stuff */
        }
        #annotations .ui.error.message {
            margin-top: 1rem;
        }
        .hl-search {
            background-color: #C5E1B9;
        }
        .ui.six.statistics .statistic {
            max-width: 16.66666667%;
        }
        .ui.form + .content {
            margin-top: 1rem;
        }

        .ui.segment > .ui.left.corner.label {
            border-color: inherit;
            color: #fff;
        }

        .ui.hidden.segment {
            display: none;
        }

        .ui.segment > .ui.left.corner.label > i:hover {
            cursor: pointer;
        }
    </style>
</head>
<body>

{% include 'header.html' %}

<div class="ui container basic vertical segment">
    <h1 class="ui header"></h1>

    <div id="segment-statistics" class="ui segment">
        <a class="ui left corner label">
            <i class="pencil icon"></i>
        </a>
        <div class="ui six tiny statistics">
            <div class="light statistic">
                <div class="label">Type</div>
                <div data-statistic="type" class="value"></div>
            </div>
            <div class="light statistic">
                <div class="label">Annotations</div>
                <a data-statistic="annotations" href="#annotations" class="value"></a>
            </div>
            <div class="light statistic">
                <div class="label">Signatures</div>
                <a data-statistic="signatures" href="#signatures" class="value"></a>
            </div>
            <div class="light statistic">
                <div class="label">Relationships</div>
                <a data-statistic="relationships" href="#relationships" class="value"></a>
            </div>
            <div class="light statistic">
                <div class="label">GO terms</div>
                <a data-statistic="go" href="#go-terms" class="value"></a>
            </div>
            <div class="light statistic">
                <div class="label">References</div>
                <a data-statistic="references" href="#references" class="value"></a>
            </div>
        </div>
    </div>

    <div id="edit-entry" class="ui hidden raised segment">
        <div class="ui hidden error message"></div>
        <div class="ui form">
            <div class="fields">
                <div class="ten wide required field">
                    <label>Name</label>
                    <input name="description" placeholder="Entry name" type="text" maxlength="100" data-countdown>
                    <p class="help-text"></p>
                </div>
                <div class="three wide required field">
                    <label>Short name</label>
                    <input name="name" placeholder="Entry short name" type="text" maxlength="30">
                    <p class="help-text"></p>
                </div>
                <div class="three wide required field">
                    <label>Type</label>
                    <select class="ui dropdown" name="type">
                        <option value="">Type</option>
                        <option value="A">Active site</option>
                        <option value="B">Binding site</option>
                        <option value="C">Conserved site</option>
                        <option value="D">Domain</option>
                        <option value="F">Family</option>
                        <option value="H">Homologous superfamily</option>
                        <option value="P">PTM</option>
                        <option value="R">Repeat</option>
                    </select>
                </div>
            </div>
            <div class="inline field">
                <div class="ui checkbox">
                    <input type="checkbox" name="checked">
                    <label>Checked</label>
                </div>
            </div>

            <div style="text-align: right;">
                <div class="ui negative button">Delete</div>
                <div class="ui cancel button">Cancel</div>
                <div class="ui primary submit button">Update</div>
            </div>
        </div>
    </div>


    <div class="ui grid">
        <div class="four wide column">
            <div class="ui sticky">
                <div class="ui vertical basic segment">
                    <div class="ui fluid vertical menu">
                        <a href="#curation" class="active item">
                            Curation
                        </a>
                        <a href="#annotations" class="item">
                            Annotations
                            <div data-statistic="annotations" class="ui label"></div>
                        </a>
                        <a href="#signatures" class="item">
                            Signatures
                            <div data-statistic="signatures" class="ui label"></div>
                        </a>
                        <a href="#relationships" class="item">
                            Relationships
                            <div data-statistic="relationships" class="ui label"></div>
                        </a>
                        <a href="#go-terms" class="item">
                            GO terms
                            <div data-statistic="go" class="ui label"></div>
                        </a>
                        <a href="#references" class="item">
                            References
                            <div data-statistic="references" class="ui label"></div>
                        </a>
                    </div>
                </div>
                <div class="ui vertical segment comments">
                    <h3 class="ui dividing header">
                        <i class="comments icon"></i>Comments
                    </h3>
                    <div class="comments-content"></div>
                    <form class="ui reply form">
                        <div class="field">
                            <textarea placeholder="Write comment&hellip;"></textarea>
                        </div>
                        <button class="ui blue labeled icon button"><i class="icon edit"></i>Add comment</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <div id="curation" class="ui basic vertical segment">
                <h2 class="ui dividing header">Curation</h2>

                <h3 class="ui header">Public website</h3>
                <div class="ui horizontal bulleted link list">
                    <a target="_blank" data-public-href="https://www.ebi.ac.uk/interpro/entry/" class="item">
                        InterPro 6
                        <i class="external icon"></i>
                    </a>
                    <a target="_blank" data-public-href="http://www.ebi.ac.uk/interpro/beta/entry/InterPro/" class="item">
                        InterPro 7
                        <i class="external icon"></i>
                    </a>
                </div>

                <h3 class="ui header">Signatures comparison</h3>
                <div class="ui horizontal bulleted link list">
                    <a data-signatures-page="proteins" class="item">Overlapping proteins</a>
                    <a data-signatures-page="taxonomy" class="item">Taxonomic origins</a>
                    <a data-signatures-page="descriptions" class="item">UniProt descriptions</a>
                    <a data-signatures-page="similarity" class="item">Similarity comments</a>
                    <a data-signatures-page="go" class="item">GO terms</a>
                    <a data-signatures-page="matrices" class="item">Matrices</a>
                    <a data-signatures-page="enzyme" class="item">ENZYME</a>
                    <a data-signatures-page="literature" class="item">Literature</a>
                </div>
            </div>

            <div id="annotations" class="ui basic vertical segment">
                <h2 class="ui dividing header">Annotations</h2>
                <button id="create-annotation" class="ui basic button">
                    <i class="pencil icon"></i>
                    New annotation
                </button>
                <button id="signatures-annotations" class="ui basic button">
                    <i class="list icon"></i>
                    Signatures annotations
                </button>
                <div class="ui left icon input">
                    <input id="search-annotations" placeholder="Search annotations" type="text">
                    <i class="search icon"></i>
                </div>
                <div class="content"></div>
            </div>

            <div id="signatures" class="ui basic vertical segment">
                <h2 class="ui dividing header">Contributing signatures</h2>
                <div class="ui hidden message">
                    <div class="header"></div>
                    <p></p>
                </div>
                <table class="ui selectable table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Member database</th>
                        <th>Accession</th>
                        <th>Name</th>
                        <th class="right aligned">Protein count</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                    <tr>
                        <th colspan="6">
                            <div class="ui secondary menu">
                                <div class="right fitted item">
                                    <div class="ui form">
                                        <div class="field">
                                            <div class="ui action input">
                                                <input placeholder="Signature accession" type="text" name="accession">
                                                <button class="ui primary submit button">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <div id="relationships" class="ui basic vertical segment">
                <h2 class="ui dividing header">InterPro relationships</h2>
                <div class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <label>Add relationship</label>
                            <select class="ui dropdown" name="type">
                            </select>
                        </div>
                        <div class="field">
                            <label>&nbsp;</label>
                            <div class="ui action input ">
                                <input placeholder="InterPro accession" type="text" name="accession">
                                <button class="ui primary submit button">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui hidden error message">
                    <div class="header"></div>
                    <p></p>
                </div>
                <div class="content"></div>
            </div>

            <div id="go-terms" class="ui basic vertical segment">
                <h2 class="ui dividing header">GO terms</h2>
                <div class="ui form">
                    <div class="field">
                        <label>Add GO term mapping</label>
                        <div class="ui action input">
                            <input placeholder="GO term ID (e.g. GO:0006915)" type="text" name="term">
                            <button class="ui primary submit button">Add</button>
                        </div>
                    </div>
                </div>
                <div class="ui hidden error message">
                    <div class="header"></div>
                    <p></p>
                </div>

                <h3 class="ui header">Molecular Function</h3>
                <div id="molecular-functions"></div>

                <h3 class="ui header">Biological Processe</h3>
                <div id="biological-processes"></div>

                <h3 class="ui header">Cellular Component</h3>
                <div id="cellular-components"></div>
            </div>

            <div id="references" class="ui basic vertical segment">
                <h2 id="references" class="ui dividing header">References</h2>
                <div class="content"></div>
            </div>

            <div id="supp-references" class="ui basic vertical segment">
                <h2 class="ui dividing header">Supplementary references</h2>
                <div class="ui form">
                    <div class="field">
                        <label>Add reference</label>
                        <div class="ui action input">
                            <input placeholder="PubMed ID (e.g. 19913036)" type="text" name="pmid">
                            <button class="ui primary submit button">Add</button>
                        </div>
                    </div>
                </div>
                <div class="content"></div>
            </div>
        </div>
    </div>
</div>

<div id="new-annotation" class="ui modal">
    <div class="header">New annotation</div>
    <div class="scrolling content">
        <div class="ui hidden error message">
            <div class="header"></div>
            <p></p>
        </div>
        <textarea></textarea>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui primary ok button">Create</div>
    </div>
</div>

<div id="modal-annotations" class="ui coupled large modal">
    <div class="header"></div>
    <div class="scrolling content"></div>
    <div class="actions">
        <div class="ui cancel button">Close</div>
    </div>
</div>

<div id="modal-entries" class="ui coupled tiny modal">
    <i class="close icon"></i>
    <div class="scrolling content"></div>
</div>

{% include 'footer.html' %}

<script src="/static/vendor/jquery.min.js"></script>
<script src="/static/vendor/semantic.min.js"></script>
<script src="/static/modules/entry.js" type="module"></script>

</body>
</html>