<header>
    <div class="ui embl green inverted menu">
        <div class="ui container">
            <a href="/" class="header item">Pronto!</a>
            <div class="item">
                <button id="new-entry-btn" class="ui inverted compact button">New entry</button>
            </div>
            <a href="/proteome/" class="item">Proteomes</a>
            <div id="pronto-info" class="left menu"></div>
            <div class="right menu">
                <div class="item">
                    <div id="header-search" class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="circular search link icon"></i>
                    </div>
                </div>
                <div id="tasks" class="ui icon simple dropdown item">
                    <i class="tasks icon"></i>
                    <div class="ui menu"></div>
                </div>
                <div class="item">
                    <button id="fluid" class="ui inverted compact button">
                        <i class="arrows alternate horizontal icon"></i>
                        Fluid
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="not-ready">
        <div class="ui container">
            <div class="left menu">
                <div class="item"></div>
            </div>
        </div>
    </div>
</header>

<div id="dimmer" class="ui page dimmer">
    <div class="ui text loader">Loading</div>
</div>

<div id="confirm-modal" class="ui tiny modal">
    <div class="header"></div>
    <div class="content"></div>
    <div class="actions">
        <div class="ui deny button">Cancel</div>
        <div class="ui red approve button"></div>
    </div>
</div>

<div id="error-modal" class="ui tiny modal">
    <i class="close icon"></i>
    <div class="ui header"></div>
    <div class="content"></div>
</div>

<div id="new-entry-modal" class="ui modal">
    <div class="header">New entry</div>
    <div class="content">
        <div class="ui hidden error message"></div>
        <table class="ui small table">
            <thead>
            <tr>
                <th></th>
                <th>Database</th>
                <th>Accession</th>
                <th>Name</th>
                <th>Description</th>
                <th class="right aligned">Proteins</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="7" class="center aligned">No signatures</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="7">
                    <div class="ui secondary menu">
                        <div class="right fitted item">
                            <div id="new-entry-signatures" class="ui form">
                                <div class="field">
                                    <div class="ui action input">
                                        <input placeholder="Signature accession" type="text" name="accession">
                                        <button class="ui primary submit button">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
        <div id="new-entry-info" class="ui form">
            <div class="field">
                <div class="fields">
                    <div class="twelve wide required field">
                        <label>Name</label>
                        <input name="name" placeholder="Entry name" type="text" maxlength="100"
                               data-countdown="countdown2">
                        <p class="help-text"></p>
                    </div>
                    <div class="four wide required field">
                        <label>Short name</label>
                        <input name="short_name" placeholder="Entry short name" type="text" maxlength="30"
                               data-countdown>
                        <p class="help-text"></p>
                    </div>
                </div>
            </div>
            <div class="required field">
                <label>Type</label>
                <select class="ui dropdown" name="type">
                    <option value="">Type</option>
                    <option value="A">Active site</option>
                    <option value="B">Binding site</option>
                    <option value="C">Conserved site</option>
                    <option value="D">Domain</option>
                    <option value="F">Family</option>
                    <option value="H">Homologous superfamily</option>
                    <option value="P">PTM</option>
                    <option value="R">Repeat</option>
                </select>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="is-llm">
                    <label>Mark this entry as <strong>reviewed AI-generated</strong></label>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui ok primary button">Create</div>
    </div>
</div>