<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/semantic.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Pronto</title>
</head>
<body>

{% include 'header.html' %}

<div class="ui container basic vertical segment">
    <div class="ui divided grid">
        <div class="row">
            <div class="sixteen wide column">
                <table class="ui selectable table">
                    <thead>
                    <tr>
                        <th colspan="2"><i class="database icon"></i>Member databases</th>
                        <th>Signatures</th>
                        <th>Integrated</th>
                        <th>Unintegrated</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/semantic.min.js') }}"></script>
<script src="{{ url_for('static', filename='modules/index.js') }}" type="module"></script>

</body>
</html>