<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/semantic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Pronto</title>
</head>
<body>

{% include 'header.html' %}

<div class="ui container">
    <div class="ui basic segment">
        <div class="ui top attached tabular secondary pointing menu">
            <a class="item" data-tab="databases">Member databases</a>
            <a class="item" data-tab="news"><span>Recent entries</span><div class="ui small secondary label"></div></a>
            <a class="item" data-tab="unchecked"><span>Unchecked entries</span><div class="ui small secondary label"></div></a>
            <a class="item" data-tab="checks"><span>Sanity checks</span><div class="ui small secondary label"></div></a>
        </div>
        <div class="ui tab basic segment" data-tab="databases">
            <table class="ui table">
                <thead>
                <tr>
                    <th colspan="2"></th>
                    <th>Signatures</th>
                    <th>Integrated</th>
                    <th><a href="/signatures/recommendations/">Unintegrated</a></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="ui tab basic segment" data-tab="news">
            <p></p>
            <div class="ui warning message">
                <i class="close icon"></i>
                <div class="header">Checkboxes are read-only</div>
                <p>To check or uncheck an entry, please visit the entry page.</p>
            </div>
            <div class="ui toggle checkbox">
                <input type="checkbox" name="unchecked">
                <label>Display unchecked entries only</label>
            </div>
            <table class="ui single line compact table">
                <thead>
                <tr>
                    <th>Entry</th>
                    <th>Short name</th>
                    <th>Signatures</th>
                    <th>Checked</th>
                    <th>Created on</th>
                    <th>Author</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="ui tab basic segment" data-tab="unchecked">
            <div class="ui info message">
                <i class="close icon"></i>
                <div class="header">Unchecked entries</div>
                <p>The table below shows all unchecked InterPro entries containing at least one member database signature.</p>
            </div>
            <table class="ui single line compact table">
                <thead>
                <tr>
                    <th>Entry</th>
                    <th>Short name</th>
                    <th>Signatures</th>
                    <th>Created on</th>
                    <th>Unchecked on</th>
                    <th>Unchecked by</th>
                    <th class="collapsing"></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="ui tab basic segment" data-tab="checks">
            <button class="ui compact primary button">Run</button>
            <a href="/checks/" class="ui compact basic button">Settings</a>
            <div class="ui hidden message"></div>
            <table class="ui single line compact table">
                <thead>
                <tr>
                    <th class="basic" colspan="4"></th>
                </tr>
                <tr>
                    <th>Entry/annotation</th>
                    <th>Error type</th>
                    <th>Error</th>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div id="welcome" class="ui active page dimmer">
    <div class="content">
        <h2 class="ui inverted icon header">
            <i class="smile outline icon"></i>
            Welcome!
        </h2>
    </div>
</div>

<script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/semantic.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}" type="module"></script>
</body>
</html>