<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/vendor/semantic.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.png">
    <title>{{ method }} predictions | Pronto</title>
</head>
<body>

{% include 'header.html' %}

<div class="ui container basic vertical segment">
    <h1 class="ui header">
        Signature prediction
        <div class="sub header"></div>
    </h1>

    <div id="methods" class="ui segment">
        <h4>Signatures to compare</h4>
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui fluid input">
                    <input placeholder="Add signatures&hellip;" type="text">
                </div>
            </div>

            <div class="twelve wide column">

            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui horizontal divided link list links">
            <div class="active item">Compare by</div>
            <a target="_blank" data-page="matches" class="item">Overlapping proteins</a>
            <a target="_blank" data-page="taxonomy" class="item">Taxonomic origin</a>
            <a target="_blank" data-page="descriptions" class="item">UniProt descriptions</a>
            <a target="_blank" data-page="comments" class="item">Swiss-Prot comments</a>
            <a target="_blank" data-page="go" class="item">GO terms</a>
            <a target="_blank" data-page="matrices" class="item">Match matrices</a>
            <a target="_blank" data-page="enzymes" class="item">ENZYME entries</a>
        </div>
    </div>

    <div class="ui comments">
        <h3 class="ui dividing header">
            <i class="comments icon"></i>Comments
            <div class="sub header"></div>
        </h3>

        <div class="ui grid">
            <div class="eight wide column">
                <div class="comments-content"></div>
            </div>
            <div class="eight wide column">
                <form class="ui reply form">
                    <div class="field">
                        <textarea placeholder="Write comment&hellip;"></textarea>
                    </div>
                    <button class="ui blue labeled icon button"><i class="icon edit"></i> Add comment</button>
                </form>
            </div>
        </div>
    </div>

    <table class="ui very compact celled structured small table">
        <thead>
        <tr>
            <th rowspan="2">Prediction</th>
            <th class="center aligned" colspan="5">Candidate</th>
            <th class="center aligned" colspan="2">Overlap</th>
            <th class="center aligned" colspan="3">Integration</th>
        </tr>
        <tr>
            <th colspan="3">Accession</th>
            <th class="nowrap">
                Prot.&nbsp;
                <i class="help circle icon" data-content="Number of proteins matching candidate signature" data-variation="tiny"></i>
            </th>
            <th class="nowrap">
                Hits&nbsp;
                <i class="help circle icon" data-content="Number of BLOBS found for candidate signature" data-variation="tiny"></i>
            </th>

            <th class="nowrap">
                Prot.&nbsp;
                <i class="help circle icon" data-content="Count of proteins where both query and candidate signature overlap" data-variation="tiny"></i>
            </th>
            <th class="nowrap">
                Hits&nbsp;
                <i class="help circle icon" data-content="Number of overlapping blobs with query and candidate signature" data-variation="tiny"></i>
            </th>

            <th>Accession</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="11">
                <span>Hide signatures if they overlap in less than <span id="over-value"></span>% of the proteins of both</span>
                <input id="over-range" type="range" min="0.01" max="1" step="0.01" value="0.3">
            </th>
        </tr>
        </tfoot>
    </table>

    <div class="ui grid">
        <div class="right floated four wide column">
            <div id="heatmap" data-colors="#6ca75d,#9372c6,#bf823b,#cc556f" data-size="5">
                <h3 class="ui header">Overlap colour keys</h3>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"></svg>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

<script src="/static/vendor/jquery.min.js"></script>
<script src="/static/vendor/semantic.min.js"></script>
<script src="/static/modules/method.js" type="module"></script>

</body>
</html>