<h1 class="ui header">
    Signature comparison
</h1>

<div id="methods">
    <div class="ui segment">
        <h4>Signatures to compare</h4>
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui fluid input">
                    <input placeholder="Add signatures&hellip;" type="text">
                </div>
            </div>

            <div class="twelve wide column">

            </div>
        </div>
    </div>

    <div class="ui secondary pointing menu links">
        <a target="_blank" data-page="matches" class="item">Overlapping proteins</a>
        <a target="_blank" data-page="taxonomy" class="item">Taxonomic origin</a>
        <a target="_blank" data-page="descriptions" class="item">UniProt descriptions</a>
        <a target="_blank" data-page="comments" class="item">Swiss-Prot comments</a>
        <a target="_blank" data-page="go" class="item">GO terms</a>
        <a target="_blank" data-page="matrices" class="item">Match matrices</a>
        <a target="_blank" data-page="enzymes" class="item">ENZYME entries</a>
        <a target="_blank" data-page="literature" class="item">Literature</a>
    </div>
</div>