<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/semantic.min.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Log in to Pronto</title>
    <title>Pronto</title>
</head>
<body>

{% include 'header.html' %}

<div class="ui container basic vertical segment">
    <h1 class="ui header">

        <div class="sub header">
            <a target="_blank" href="">

                    <i class="star icon"></i>

                <i class="external icon"></i>
            </a>
        </div>
    </h1>
    <div class="ui segment">
        <div class="ui four tiny statistics">
            <div class="light statistic">
                <div class="label">Organism</div>
                <div class="value" id="organism" style="font-style: italic;"></div>
            </div>
            <div class="light statistic">
                <div class="label">Length</div>
                <div class="value" id="length"></div>
            </div>
            <div class="light statistic">
                <div class="label">Entries</div>
                <div class="value" id="entries"></div>
            </div>
            <div class="light statistic">
                <div class="label">Signatures</div>
                <div class="value" id="signatures"></div>
            </div>
        </div>

    </div>

    <div class="ui grid">
        <div class="four wide column">
            <div class="ui sticky">
                <div class="ui vertical basic segment">
                    <div class="ui fluid vertical menu">
                        <a href="#integrated" class="active item">
                            Integrated signatures
                        </a>
                        <a href="#unintegrated" class="item">
                            Unintegrated signatures
                        </a>
                        <a href="#disordered-regions" class="item">
                            Disordered regions
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui warning message">
                <div class="header">Sequence fragment</div>
                The canonical sequence for this protein is a fragment. The protein is not considered when comparing signatures.
            </div>
            <div class="ui basic vertical segment">
                <h2 id="integrated" class="ui dividing header">Integrated signatures</h2>
                <div></div>
            </div>
            <div class="ui basic vertical segment">
                <h2 id="unintegrated" class="ui dividing header">Unintegrated signatures</h2>
                <div></div>
            </div>
            <div class="ui basic vertical segment">
                <h2 id="disordered-regions" class="ui dividing header">Intrinsically disordered regions</h2>
                <div></div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

<script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/semantic.min.js') }}"></script>
<script src="{{ url_for('static', filename='modules/protein.js') }}" type="module"></script>
</body>
</html>