<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/semantic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/protein.css') }}">
    <title>Pronto</title>
</head>
<body>

{% include 'header.html' %}

<div class="ui container">
    <div class="ui basic segment">
        <h1 class="ui header"></h1>

        <div class="ui grid">
            <div class="four wide column">
                <div class="ui sticky">
                    <div class="ui vertical basic segment">
                        <div class="ui fluid vertical menu">
                            <a href="#integrated" class="active item">
                                Integrated signatures
                            </a>
                            <a href="#unintegrated" class="item">
                                Unintegrated signatures
                            </a>
                            <a href="#others" class="item">
                                Other annotations
                            </a>
                            <a href="#lineage" class="item">
                                Lineage
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui warning message">
                    <div class="header">Sequence fragment</div>
                    The canonical sequence for this protein is a fragment. The protein is not considered when comparing signatures.
                </div>
                <div class="ui basic vertical segment">
                    <h2 id="integrated" class="ui dividing header">Integrated signatures</h2>
                    <div></div>
                </div>
                <div class="ui basic vertical segment">
                    <h2 id="unintegrated" class="ui dividing header">Unintegrated signatures</h2>
                    <div></div>
                </div>
                <div class="ui basic vertical segment">
                    <h2 id="others" class="ui dividing header">Other annotations</h2>
                    <div></div>
                </div>
                <div class="ui basic vertical segment">
                    <h2 id="lineage" class="ui dividing header">Lineage</h2>
                    <div class="ui list"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tooltip" class="ui tooltip">
    <i class="close icon"></i>
    <div class="content">
    </div>
</div>

<script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/semantic.js') }}"></script>
<script src="{{ url_for('static', filename='js/protein.js') }}" type="module"></script>
</body>
</html>