<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/vendor/semantic.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.png">
    <title>Pronto</title>
</head>
<body>

{% include 'header.html' %}

<div class="ui container basic vertical segment">
    {% if entries or methods or proteins %}
        <div class="ui info message">
            <div class="header">
                Suggestions:
            </div>
            <ul class="list">
                {% if entries %}
                    <li>
                        Entries:
                        {% for acc in entries -%}
                            <a href="/entry/{{ acc }}">{{ acc }}</a>
                            {%- if not loop.last -%}
                                ,
                            {% endif %}
                        {%- endfor %}
                    </li>
                {% endif %}
                {% if methods %}
                    <li>
                        Signatures:
                        {% for acc in methods -%}
                            <a href="/methods/{{ acc }}">{{ acc }}</a>
                            {%- if not loop.last -%}
                                ,
                            {% endif %}
                        {%- endfor %}
                    </li>
                {% endif %}
                {% if proteins %}
                    <li>
                        Entries:
                        {% for acc in proteins -%}
                            <a href="/protein/{{ acc }}">{{ acc }}</a>
                            {%- if not loop.last -%}
                                ,
                            {% endif %}
                        {%- endfor %}
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    <table class="ui compact selectable table">
        <thead>
        <tr>
            <th colspan="2">
                 {{ (page - 1) * page_size + 1 }} - {{ [page * page_size, hit_count]|min }} of {{ hit_count }} results
            </th>
        </tr>
        <tr>
            <th>Accession</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% if hits %}
            {% for entry in hits %}
                <tr>
                    <td><span class="ui tiny type-{{ entry['type'] }} circular label">{{ entry['type'] }}</span>&nbsp;<a href="/entry/{{ entry['id'] }}">{{ entry['id'] }}</a></td>
                    <td>{{ entry['name'] }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="2">No hits found by EBI Search</td></tr>
        {% endif %}

        </tbody>
        <tfoot>
        <tr>
            <th colspan="2">
                <div class="ui right floated pagination menu"></div>
            </th>
        </tr>
        </tfoot>
    </table>
</div>

<script src="/static/vendor/jquery.min.js"></script>
<script src="/static/vendor/semantic.min.js"></script>
</body>
</html>