<div id="matrices" class="ui basic compare hidden segment">
    <div class="ui grid">
        <div class="six wide column">
            <h4 class="ui header">
                Overlap
                <div class="sub header">Number of proteins having both signatures overlapping (&ge; 50%)</div>
            </h4>

            <table class="ui small definition celled table"></table>
        </div>
        <div class="six wide column">
            <h4 class="ui header">
                Collocation
                <div class="sub header">Number of proteins having both signatures occurring</div>
            </h4>
            <table class="ui small definition celled table"></table>
        </div>
        <div class="four wide column">
        </div>
    </div>
</div>