<div id="dimmer" class="ui page dimmer">
    <div class="ui text loader">Loading</div>
</div>

<div id="error-modal" class="ui tiny modal">
    <i class="close icon"></i>
    <div class="ui icon header">
        <i class="warning icon"></i>
        Something is wrong
    </div>
    <div class="content">
        <p></p>
    </div>
</div>

<div id="tooltip" class="ui tooltip">
    <i class="close icon"></i>
    <div class="content">
    </div>
</div>

<script src="/static/vendor/jquery.min.js"></script>
<script src="/static/vendor/semantic.min.js"></script>
<script src="/static/app.js"></script>

</body>
</html>