<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/vendor/semantic.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Pronto</title>
</head>
<body>

<header class="ui menu">
    <div class="ui container">
        <a href="/" class="header item">
            Pronto!
        </a>

        <div class="item">
            <div class="ui action input">
                <input placeholder="Search&hellip;" type="text">
                <div class="ui basic icon button">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        <div class="right menu">
            {% if user %}
                <div class="item">{{ user['name'] }}</div>
                <a href="/logout" class="icon item">
                    <i class="sign out icon"></i>&nbsp;Log out
                </a>
            {% else %}
                <a href="/login" class="icon item">
                    <i class="sign in icon"></i>&nbsp;Log in
                </a>
            {% endif %}
            {#            <div href="/help" class="disabled icon item">#}
            {#                <i class="help icon"></i>&nbsp;Help#}
            {#            </div>#}
        </div>
    </div>
</header>

{#<div class="ui vertical segment masthead">#}
{#    <h1 class="ui header">#}
{#        <div class="ui container">#}
{#            Protein sequence classification#}
{#            <div class="sub header">#}
{#                Pronto is a web application aiming to assist InterPro curators by displaying protein match information for member database signatures.#}
{#            </div>#}
{#        </div>#}
{#    </h1>#}
{#</div>#}

<div id="messages" class="ui basic hidden vertical segment container">
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui negative message">
                <i class="close icon"></i>
                <span></span>
            </div>
        </div>
    </div>
</div>