<div id="taxonomy" class="ui basic compare hidden segment">
    <div class="ui sub header">Taxonomic rank</div>

    <select class="ui search dropdown">
        <option value="superkingdom">Superkingdom</option>
        <option value="kingdom">Kingdom</option>
        <option value="phylum">Phylum</option>
        <option value="class">Class</option>
        <option value="order">Order</option>
        <option value="family">Family</option>
        <option value="genus">Genus</option>
        <option value="species">Species</option>
    </select>
    <table class="ui definition celled table"></table>
</div>